.nav-glyphish-example .ui-btn .ui-btn-inner {
	padding-top: 40px !important;
}

.nav-glyphish-example .ui-btn .ui-icon {
	width: 30px!important;
	height: 30px!important;
	margin-left: -15px !important;
	box-shadow: none!important;
	-moz-box-shadow: none!important;
	-webkit-box-shadow: none!important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
}
.ui-listview-filter:nth-child(n+2) {
    display : none;
}

.warning{
	font-size:150%;
	color: red;
}

#acts .ui-icon {
	background:  url(PNGicons/152-rolodex.png) 50% 50% no-repeat; background-size: 26px 18px;
}

#chars .ui-icon {
	background:  url(PNGicons/102-walk.png) 50% 50% no-repeat; background-size: 20px 27px;
}

#props .ui-icon {
	background:  url(PNGicons/115-bow-and-arrow.png) 50% 50% no-repeat; background-size: 23px 29px;
}

#elements .ui-icon {
	background:  url(PNGicons/178-city.png) 50% 50% no-repeat; background-size: 23px 27px;
}

#people .ui-icon {
	background:  url(PNGicons/112-group.png) 50% 50% no-repeat; background-size: 32px 21px;
}

#scheduler .ui-icon {
	background:  url(PNGicons/83-calendar.png) 50% 50% no-repeat; background-size: 23px 25px;
}

#print .ui-icon {
	background:  url(PNGicons/185-printer.png) 50% 50% no-repeat; background-size: 24px 21px;	
}

#back .ui-icon {
	background:  url(PNGicons/113-navigation.png) 50% 50% no-repeat; background-size: 24px 22px;
}

#stopwatch .ui-icon {
	background:  url(PNGicons/78-stopwatch.png) 50% 50% no-repeat; background-size: 22px 26px;
}

.ui-page {
	background: url(StageBuddyLowResBackground.png);
	background-repeat:repeat-y;
	background-position:center center;
	background-attachment:scroll;
	background-size:100% 100%;
}

[data-role=content]{
	background: transparent;
}